body {
  background-color: lightblue;
}

header {
  font-family: JetBrains Mono;
  font-weight: bolder;
  font-size: larger;
}

input {
  border-radius: 5px;
  margin-top: 10px;
  padding: auto;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#meuImc {
  margin-top: 50px;
}

footer {
  font-family: JetBrains Mono;
  font-size: smaller;
  margin-top: 500px;
  padding: auto;
  text-align: end;
}
